*{
    margin: 0px;
    padding: 0px;
}
.cabeçalho{
    width: 100%;
    height: 100px;
    background-color: #082b55;   
}






.logo {
    float: left;
    padding-top:20px;
    width:15%;
    padding-left: 100px;
    list-style: none;
    }

.dropbtn {
    background-color: #082b55;
    color: #ffffff;
    padding: 40px;
    font-size: 16px;
    font-family: 'bahnschrift';
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #082b55;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'bahnschrift';
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #374f6d;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #374f6d;}





  /* Dropdown Button */
.dropbtnS {
    background-color: #082b55;
    color: #ffffff;
    padding:40px;
    font-size: 14px;
    font-family: 'bahnschrift';
    border: none;
    width: 80px;
    text-align: center;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdownS {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-contentS {
    display: none;
    position: absolute;
    background-color: #082b55;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'bahnschrift';
    width: 100px;
    text-align: center;

  }
  
  /* Links inside the dropdown */
  .dropdown-contentS a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-contentS a:hover {background-color: #374f6d;}
  
  /* Show the dropdown menu on hover */
  .dropdownS:hover .dropdown-contentS {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdownS:hover .dropbtnS {background-color: #374f6d;}



  .dropbtnA {
    background-color: #082b55;
    color: #ffffff;
    padding: 40px;
    font-size: 16px;
    font-family: 'bahnschrift';
    border: none;
  }
  
  
  .dropdownA {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-contentA {
    display: none;
    position: absolute;
    background-color: #082b55;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'bahnschrift';
    width: 193px;
    text-align: center;
  }
  
  /* Links inside the dropdown */
  .dropdown-contentA a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-contentA a:hover {background-color: #374f6d;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-contentA {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtnA {background-color: #374f6d;}


    
    
    
    
    
    
        
        
        
  .para-alunos{
    width: 100%;
    height: 400px;
    background-color: #acacac;   
    }
    .icones{
        display: flex;
        justify-content: center;
        padding: 20px;
        list-style: outside;
    }
    h1 {
        color:rgb(0, 0, 0);
        text-align: center;
        font-family: 'bahnschrift';
        margin-top: 40px; 
        font-size: 300%;
    }
    p {
        color: rgb black;
        text-align: center;
        font-family: 'bahnschrift';
        font-size: 100%;
        margin-left: 220px;
        margin-right: 220px;
    }
    h2 {
        color: rgb black;
        font-family: 'bahnschrift';
        font-size: 100%;
        padding-left: 100px;
    }
    h3 {
        color: #000000;
        font-family: 'bahnschrift';
        font-size: 80%;
        padding-left: 50px;
        padding-top: 32px;
        padding-right: 630px;
        width: 14%;
    }
    h4 {
        color: #000000;
        font-family: 'bahnschrift';
        font-size: 80%;
        
        
        padding-top: 60px;        
    }
    
    
    
    
    
        
    
        .menu-final {
            width: 100%;
            background-color: #4b4b4b;
            height: 120px;
            padding: 0px;
            display: flex;
            justify-content: right;
                }

        
        .logo2 {

            margin-top:20px;

            padding-left: 50px;
            list-style: none;
               }





        .galeria-conf{
            font:bold 12px 'bahnschrift';
            margin: 30px;
            background-color:#7a7a7a
        }
        .caixa-galeria{
           background-color: #4c6b97; 
           height: 265px;
           width: 824px;
            margin-top: 20px;
           border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;

            box-shadow: 1px 1px 3px;
        }
        .galeria-botoes{
            height: 60px;
            width: 480px;
        }
        .botao{
        margin-top: 10px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: #28568f;
        font-family: 'bahnschrift';
        }
        .botao:hover{
            color: #3a69a3;
            border: 1px solid #5f7692;
            box-shadow: 1px 1px 1px #3c4d61;
            cursor:pointer;
        }
        .galeria{
            width: 745px;
            margin-left: 18px;
        }
        ul,li{
            list-style: none;
        }
        ul li{
            padding: 10px;
            margin: 10px;
            float: left;
        }

      
        .lbox{
            visibility: hidden;
            opacity:0;
            display: none;
        }

        .lbox ul{
            list-style: none;
            display: flex;
            margin: 100px auto;
           
        }

        .min {
            width: 150px;
            padding: 2px;
            border: 1px solid #5f7692;
            background-color: #fafafc;
        }

        .lbox:target{
            opacity: 1;
            visibility: visible;
            width: 1343px;
            height: 100%;      
            top:0;
            left:0;
            background: rgba(10, 10, 10, 0.7);  
            position: fixed;
            display: block;
        }

        .box_img{
            width: 1000px;
            margin: 150px auto;
        }
        .btn{
            color: #fff;
            font-family: 'Calibri';
            text-decoration: none;
            position: absolute;
            width: 50px;
            height: 50px;
            font-size:40px;
            text-align: center;
        }
        #prev{
            left: 23%;
            top: 41%;
        }
        #next{
            right: 23%;
            top: 41%;
        }
        #close{
            top:0;
            right: 1%;
        }
       